html,body {
	height: 100%;
}

/*-------- General Classes ---------*/

.left, .right {
	display: inline-block;
	width: 50%;
}

.left {
	float: left;
}

/*-------- Your New Flag --------*/

#NewFlag {
	background-color:#F5DD94;
	height: calc(100% - 40px);
		height: -o-calc(100% - 40px); /* opera */
		height: -webkit-calc(100% - 40px); /* google, safari */
		height: -moz-calc(100% - 40px); /* firefox */
	padding: 20px;
}

#FlagItself {
	background-color: #272822;
	height: 100%;
}

#FlagItself .top, #FlagItself .bottom {
	height: 50%;
	/*overflow: hidden;*/
}

#FlagItself .top {
	background-color: #ED376E;
}

#FlagItself .bottom {
	background-color: #2E5B73;
}

#FlagItself .bottom div.container, #FlagItself .top div.container {
	/*opacity: .5;*/
	height: 100%;
	/*display: none;*/
}

/*#QuadrantOne {
	background-color: #7EFA71;
}

#QuadrantTwo {
	background-color: #D798B3;
}

#QuadrantThree {
	background-color: #9EE1D2;
}

#QuadrantFour {
	background-color: #F8BD7F;
}*/

#FlagItself .bottom div.stripe, #FlagItself .top div.stripe {
	height: 20%;
}

/*-------- Flag Animations --------*/

#FlagItself div.bottom:hover .slide {   
    width:100%;
}

#FlagItself div.slide {
	width: 0%;
	-webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}


/*-------- Flag Shapes --------*/

.shape_holder {
	float: left;
	width: 10%;
	height: 100%;
}

.shape_holder img {
	width: 100%;
	height: 100%;
}

.triangle-up {
	width: 15%;
	height: 0;
	padding-left: 15%;
	padding-bottom: 15%;
	overflow: hidden;
}
.triangle-up div {
	width: 0;
	height: 0;
	margin-left: -250px;
	border-left: 250px solid transparent;
	border-right: 250px solid transparent;
	border-bottom: 400px solid #4679BD;
}

/*.triangle-up {
    width: 25%;
    height: 0;
    padding-left:25%;
    padding-bottom: 25%;
    overflow: hidden;
}
.triangle-up div {
    width: 0; 
    height: 0;
    margin-left:-500px;
    border-left: 500px solid transparent;
    border-right: 500px solid transparent;
    border-bottom: 500px solid #4679BD;
}*/

/*#six-point-star {
	position: absolute;
	width: 0; 
	height: 0; 
	border-left: 50px solid transparent; 
	border-right: 50px solid transparent; 
	border-bottom: 80px solid #7EFA71;
}
#six-point-star:after {
	content:"";
	position: absolute;
	width: 0; 
	height: 0; 
	border-left: 50px solid transparent; 
	border-right: 50px solid transparent; 
	border-top: 80px solid #7EFA71;
	margin: 30px 0 0 -50px;
}

#star-five {
   margin: 50px 0;
   position: relative;
   display: block;
   color: red;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid red;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform:     rotate(35deg);
   -o-transform:      rotate(35deg);
}
#star-five:before {
   border-bottom: 80px solid red;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five:after {
   position: absolute;
   display: block;
   color: red;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid red;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}*/


/*-------- Speakers --------*/

#Speakers {
	background-color:#F5DD94;
	height: calc(100% - 40px);
		height: -o-calc(100% - 40px); /* opera */
		height: -webkit-calc(100% - 40px); /* google, safari */
		height: -moz-calc(100% - 40px); /* firefox */
	padding: 20px;
}

#Speakers .left, #Speakers .right {
	display: inline;
	float: none;
}

#Speakers .left img, #Speakers .right img {
	height: 100%;
	width: calc(50% - 2px);
		width: -o-calc(50% - 2px); /* opera */
		width: -webkit-calc(50% - 2px); /* google, safari */
		width: -moz-calc(50% - 2px); /* firefox */
}

#Speakers .right img {
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}